<html>
<head>
<title>Attributes supported by the Gatherer</title>
</head>
<h1>Attributes supported by the Gatherer</h1>
<dl>

<dt> <b> <a name="Abstract">Abstract</a> </b>
<dd> Brief abstract about the object.

<dt> <b> <a name="Author">Author</a> </b>
<dd> Author(s) of the object.

<dt> <b> <a name="Description"> Description</a> </b>
<dd> Brief description about the object.

<dt> <b> <a name="File-Size">File-Size</a> </b>
<dd> Number of bytes in the object.

<dt> <b> <a name="Full-Text">Text-Text</a> </b>
<dd> Entire contents of the object.

<dt> <b> <a name="Gatherer-Host"> Gatherer-Host</a> </b>
<dd> Host on which the Gatherer ran to extract information from 
the object.

<dt> <b> <a name="Gatherer-Name"> Gatherer-Name</a> </b>
<dd> Name of the Gatherer that extracted information from the
object.  (eg.  Full-Text, Selected-Text, or Terse).

<dt> <b> <a name="Gatherer-Port"> Gatherer-Port</a> </b>
<dd> Port number on the Gatherer-Host that serves the Gatherer's
information.

<dt> <b> <a name="Gatherer-Version"> Gatherer-Version</a> </b>
<dd> Version number of the Gatherer.

<dt> <b> <a name="Update-Time"> Update-Time</a> </b>
<dd> The time that Gatherer updated the content summary for the object.

<dt> <b> <a name="Keywords"> Keywords</a> </b>
<dd> Searchable keywords extracted from the object.

<dt> <b> <a name="Last-Modification-Time"> Last-Modification-Time</a> </b>
<dd> The time that the object was last modified.

<dt> <b> <a name="MD5"> MD5</a> </b>
<dd> MD5 16-byte checksum of the object.

<dt> <b> <a name="Refresh-Rate"> Refresh-Rate</a> </b>
<dd> How often the Broker attempts to update the content summary.

<dt> <b> <a name="Time-To-Live"> Time-to-Live</a> </b>
<dd> The time at which the content summary is no longer valid.

<dt> <b> <a name="Type"> Type</a> </b>
<dd> The object's type.  Some example types are:
<p>
<pre>
	Archive
	Audio
	Awk
	Backup
	Binary
	C
	CHeader
	Command
	Compressed
	CompressedTar
	Configuration
	Data
	Directory
	DotFile
	Dvi
	FAQ
	FYI
	Font
	FormattedText
	GDBM
	GNUCompressed
	GNUCompressedTar
	HTML
	Image
	Internet-Draft
	MacCompressed
	Mail
	Makefile
	ManPage
	Object
	OtherCode
	PCCompressed
	Patch
	Perl
	PostScript
	RCS
	README
	RFC
	SCCS
	ShellArchive
	Tar
	Tcl
	Tex
	Text
	Troff
	Uuencoded
	WaisSource
</pre>

<dt> <b> <a name="Update-Time"> Update-Time</a> </b>
<dd> The time that Gatherer updated (generated) the content summary
from the object.


<dt> <b> <a name="URL-References"> URL-References</a> </b>
<dd> Any URL references present within HTML objects.


</dl>


<p>
<hr>
<address>
<a href="http://rd.cs.colorado.edu/~hardy/Home.html">
Darren R. Hardy</a>, hardy@cs.colorado.edu</address>
</html>
